[MASTER]
extension-pkg-allow-list=PyQt5

[EXCEPTIONS]
overgeneral-exceptions=BaseException

[MESSAGES CONTROL]
disable=no-member,
        too-few-public-methods,
        import-error

[FORMAT]
max-line-length=150
max-module-lines=500
good-names=Run,_,pk,lo,hi
good-names-rgxs=^([a-zA-Z][a-zA-Z0-9]?|[A-Z_0-9]+)$
